.page {
  display: grid;
  justify-content: center;
  color: var(--main-text-color, #000);
  font-family: var(--main-font, Inter), sans-serif;
  background-color: var(--bg-color, #fff);
  background-image: repeating-linear-gradient(
      to right,
      var(--first-and-second-layer-gradient-color, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--first-and-second-layer-gradient-color, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--third-layer-gradient-color-from, #e7e7e7) 0.01%,
      var(--third-layer-gradient-color-to, #1a1a1a)
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}
/* Стилди шапки */
.header {
  width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--main-text-color, #000);
  padding-block-start: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  padding-block-end: 25px;
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: inherit;
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  line-height: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-align: center;
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-family: var(--dendy-font, "PressStart2P"), fantasy;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  line-height: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  text-align: center;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-inline-start: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0px;
  text-transform: inherit;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-text-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  animation: arrow-anim 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

/* Стили карточки */
.card {
  position: relative;
  width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  margin-block-end: 50px;
  border: 2px solid var(--main-text-color, #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  display: block;
  padding: 4px 10px 4px;
  font-variation-settings: "wght" var(--title-font-weight, 700);
  font-size: 18px;
  line-height: 22px;
}

.card__image-container {
  position: relative;
  width: 100%;
  height: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  border-block-start: 2px solid var(--main-text-color);
  border-block-end: 2px solid var(--main-text-color);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: clamp(0.688rem, 0.369rem + 1.59vw, 1.563rem);
  z-index: 1;
  opacity: 0.5;
  font-family: var(--dendy-font, "PressStart2P"), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 25px;
  padding: 26px 25px 0;
  font-size: 18px;
  font-variation-settings: "wght" var(--text-font-weight, 400);
  line-height: 21px;
}

.card__buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
  padding: 0 25px 25px 0;
}

.card__like-button {
  width: 130px;
  height: 38px;
  transition: transform 0.5s ease-in-out;
}

.focus-reset:focus {
  outline: none;
}

.focus {
  transition: box-shadow 0.3s ease;
}

.focus:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-text-color);
  outline: none;
}

.focus-release:not(:focus-visible) {
  box-shadow: 0px 0px 0 0 var(--main-text-color);
}

.btn-fill::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-text-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}

.btn-fill:hover::after {
  transform: translate(0);
}

.btn-fill:not(:hover)::after {
  transform: translate(-100%);
}

.card__icon-button {
  width: 38px;
  height: 35px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid rgb(0 0 0 / 1);
  outline-offset: -0.5px;
}

.card__icon-button:not(:focus-visible) {
  outline: 2px solid rgb(0 0 0 / 0);
  outline-offset: -0.5px;
}

.card__icon-button:hover .core {
  fill: var(--main-text-color, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:not(:hover) .core {
  fill: var(--bg-color, #fff);
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-text-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:not(:hover) .main-body {
  fill: var(--bg-color, #fff);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s linear;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--main-text-color, #000);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

.core {
  fill: var(--bg-color, #fff);
}

.main-body {
  fill: var(--bg-color, #fff);
}

.sparks {
  opacity: 0;
}

.button {
  position: relative;
  border: 2px solid var(--main-text-color, #000);
  overflow: hidden;
  font-family: var(--dendy-font, "PressStart2P"), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  background-color: transparent;
  cursor: pointer;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem);
  height: 55px;
  margin: 0 auto;
  margin-block-end: 102px;
  padding: 15px 0px;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
}

.floppy_icon {
  z-index: 1;
  width: 21px;
  height: 21px;
  color: var(--button-contrast-text-color, #fff);
  stroke: var(--button-contrast-text-color, #fff);
  mix-blend-mode: difference;
}

.button__text {
  position: inherit;
  z-index: 1;
  color: var(--button-contrast-text-color, #fff);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 13px;
  mix-blend-mode: difference;
}

/* Стили модалки */
.modal {
  max-width: 357px;
  border: 2px solid var(--main-text-color, #000);
  padding: 30px;
  background-color: var(--bg-color, #fff);
}

.modal[open] .modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.modal[open] .modal__sub-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__floppy_icon {
  width: 78px;
  height: 39px;
  color: var(--main-text-color, #000);
}

.modal__description {
  color: var(--main-text-color, #000);
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.modal__button {
  width: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  height: 38px;
  transition: box-shadow 0.3s ease;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
/* Фильтры */
.filter-blur {
  filter: blur(1rem);
  clip-path: inset(0);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-grayscale {
  filter: grayscale(200%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-multi {
  filter: contrast(150%) saturate(150%) blur(0.1rem);
  clip-path: inset(0);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    height: 80px;
  }

  .floppy_icon {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .card,
  .header,
  .card__image-container {
    width: 100%;
  }
}
